<h1 class="text-center">Fees</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Receipt No</th>
            <th>Email Id</th>
            <th>Course Name</th>
            <th>Total</th>
            <th>Paid</th>
            <th>Remaining</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let f of fees">
            <td>
                {{f.recno}}
            </td>
            <td>{{f.email}}</td>
            <td>{{f.cname}}</td>
            <td>{{f.total}}</td>
            <td>{{f.paid}}</td>
            <td>{{f.remaining}}</td>
        </tr>
    </tbody>
</table>
