<h1 class="text-center">Registration Form</h1>
<form>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="nm" name="name">
      </div>
      <div class="form-group">
        <label for="address">Address:</label>
        <input type="text" class="form-control" id="address" name="address">
      </div>
      <div class="form-group">
        <label for="sel1">City</label>
        <select class="form-control" id="city" name="city">
          <option>Pune</option>
          <option>Mumbai</option>
          <option>Satara</option>
          <option>Sangli</option>
        </select>
      </div>
      <div class="form-group">
        <label for="gen">Gender:</label>
<label class="radio-inline"><input type="radio" name="female" id="female">Female</label>
<label class="radio-inline"><input type="radio" name="male" id="male">
Male</label>
      </div>
      <div class="form-group">
        <label for="contact">Contact:</label>
        <input type="text" class="form-control" id="contact" name="contact">
      </div>
    <div class="form-group">
        <label for="">Email address:</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
</form>
